<html>
  <head>
    <script type="text/javascript">
      function httpGetAsync(theUrl, callback) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
          if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
            callback(xmlHttp.responseText);
        };
        xmlHttp.open("GET", theUrl, true); // true for asynchronous
        xmlHttp.send(null);
      }

      httpGetAsync("http://127.0.0.1:3000/store", function(response) {
        alert(response);
      });
    </script>
  </head>
  <body>
    <div id="myElement">
      <h1>API - Modelo de Machine Learning</h1> <br>
      <p>Aceita um dataframe como post JSON atraves de /model e retorna um json com as predicoes</p>
    </div>
  </body>
</html>
